


<% if flash.has?(:notice) %>
  <%= flash[:notice] %>
<% end %>


<h3> Collection: <%= @collection.name %></h3>


<h4>Products:</h4>

<% if @products %>
  <h4><% @products.each do |product|%>
    <ul><a href="/products/<%= product.id %>"><%= product.brand %> <%= product.name %></a></ul>
  <% end%>
<% end %>




<h3><a href="/products/new">Add New Product</a></h3>

<h3><a href="/collections"> Back to Collections </h3>

