



<h2> Add a New Product: </h2>


<form method="post" action="/products">

  <h4>Name: <input type="text" name="product[name]"></h4>
  <h4>Brand: <input type="text" name="product[brand]"></h4>
  <h4>Description (optional): <input type="text" name="product[description]"></h4>
  
  <br>
  <h4>Collection:</h4>
  <% @collections.each do |collection|%>
    <input type="checkbox" name="product[collection_ids][]" value="<%=collection.id%>" id="<%=collection.id%>"><%=collection.name%></input>
  <%end%>

<!-- <h4>Choose an Existing Collection: </h4>
  <% @collections.each do |collection| %> 
    <input type="checkbox" name="user[collection_ids][]" id="<%=collection.id%>" value="<%=collection.id%>"><%=collection.name%></input>
  <%end%> -->

  <br>
  <br>
  <input type="submit" name="submit">


  <h3><a href="/collections"> Cancel </h3>

</form>